

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title_block %}BASE{% endblock %}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Load staticfiles -->
	{% load staticfiles %}
	<link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="{% static 'st_dota/st_style.css' %}">
	

	

</head>
<body>

	<!-- Navbar -->
	<nav class="navbar-custom navbar navbar-default navbar-static-top" >
		<div class="container">
			<div class="navbar-header">
				<!-- Hamburger Icon -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCol">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- Brand -->
				<a href="{% url 'homepage' %}" class="navbar-brand">-root- DOTA</a>
			</div>

			<div class="collapse navbar-collapse" id="navCol">
				<ul class="nav navbar-nav">
					<li class="divider">
						<a href="{% url 'teams:region_list' %}" class="navbar-link">TEAMS</a>
					</li>

					<li class="divider">
						<a href="{% url 'matches:dota_matches' %}" class="navbar-link">MATCHES</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<!--  Main Content -->
	<div class="container">
		{% block body_block %}

		{% endblock %}
	</div>





	<!-- Footer -->
	<footer class="footer">
      <div class="container">
        <p class="text-muted">-root- DOTA</p>
      </div>
    </footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>