
{% extends 'st_dota/base.html' %}


{% block title_block %}DOTA 2 Pro Matches{% endblock %}


{% block body_block %}
	<div class="row">
		<div class="col-lg-12 col-matches">
			
			<div class="table-matches table-responsive">
				<table class="table table-condensed">
					<thead class="matches-head">
						<th>League</th>
						<th>Radiant</th>
						<th>Dire</th>
						<th>Duration</th>
						<th>Finished</th>
						<th>Winner</th>
					</thead>

					<tbody class="matches-data">
						<!-- Loop through json data -->
						{% for data in game_data %}
							<tr class="data-result">
								{% for value in data.items %}
									<td>{{value.1}}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>

		</div>
	</div>
 
{% endblock %}

