

{% extends 'st_dota/base.html' %}


{% block title_block %} {{region_detail.reg_name}} DOTA 2 Teams {% endblock %}


{% block body_block %}
	
	<div class="row">
		{% for region in region_detail.regions.all %}
			<div class="col-lg-4 col-md-4 col-sm-6 teams-div">
				<div class="team-logo-div">
					<img src="{{ region.logo.url }}" alt="Image not found." class="center-block team-logo">
				</div>

				<h3 class="team-name">{{ region.name_team }}</h3>

				<div class="table-responsive">
						<table class="table team-table">
							<thead>
								<th>Position</th>
								<th>ID</th>
							</thead>

							<tbody>
								<!-- Loop through the members -->
								{% for member in region.teams.all %}
								<tr>
									<td>{{ member.position }}</td>
									<td>{{ member.member_name }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}