
{% extends 'st_dota/base.html' %}


{% block title_block %}DOTA 2 Regions - Browse Teams Per Region{% endblock %}


{% block body_block %} 

	
	<div class="row">
		{% for region in region_list %}
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 custom-col">
			
				<a href="{{ region.id }}">
					<div class="region-name">
						<img src="{{ region.region_image.url }}" alt="Image not found" class="reg-image center-block">
					</div>
				</a>
					<h2>{{ region.reg_name }}</h2>	
		</div>
		{% endfor %}
	</div>


{% endblock %}